:root {
  --basic-font: "Poppins", sans-serif;
  --headings-font: "Playfair Display", serif;
  --primary-color: #ebebe3;
  --secondary-color: #2b2b28;
  --third-color: #4a4a48;
  --fourth-color: #c19898;
  --shadow: 1px 1px 20px rgb(127, 127, 127, 0.1);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headings-font);
  font-weight: bold;
  color: var(--secondary-color);
}

h1 {
  font-size: 96px;
  line-height: 1.4;
}

h2 {
  font-size: 48px;
}

p {
  font-family: var(--basic-font);
  color: rgb(43, 43, 40, 0.7);
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px;
}

nav li {
  display: inline;
  list-style-type: none;
  line-height: 40px;
}

nav ul {
  padding: 0;
  margin: 0;
}

a {
  color: #2b2b28;
  font-family: var(--basic-font);
  transition: all 100ms ease-in-out;
}

footer {
  margin: 60px 0;
}

a:hover {
  color: var(--fourth-color);
  transition: all 100ms ease-in-out;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: #2b2b28;
  transition: all 100ms ease-in-out;
  margin-left: 10px;
}

nav a:hover,
nav li.active a {
  color: var(--fourth-color);
}

.logo {
  max-height: 60px;
}

.page-hero h2 {
  font-size: 24px;
  font-weight: normal;
  font-family: var(--basic-font);
  line-height: 1;
  margin-top: 20px;
}

.page-hero {
  text-align: center;
  background-color: #ebebe3;
  padding: 150px 20px;
}

.content h1 {
  font-size: 62px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--basic-font);
}

.main-picture {
  width: 130px;
  height: auto;
  border-radius: 80px;
  margin-bottom: 20px;
}

.btn-branding {
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding:hover {
  background-color: var(--fourth-color);
  color: var(--third-color);
  border: 1px solid var(--fourth-color);
}
.main-button {
  background-color: var(--third-color);
  color: white;
}

.project-button {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.card-styling {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  /* border: 1px solid var(--primary-color); */
  box-shadow: var(--shadow);
}

.description-section {
  padding: 120px 60px;
}

.content-container {
  padding: 150px 20px;
}

.content {
  margin: 50px;
}

.dominika-photo {
  width: 600px;
}

footer .inquiry-box {
  background-color: var(--primary-color);
  padding: 30px 100px;
  border-radius: 10px;
  margin: 30px;
}

footer .inquiry-box p {
  margin-bottom: 0;
}

footer .email {
  padding: 50px;
  font-size: 24px;
  text-decoration: none;
  color: var(--secondary-color);
}

footer .email:hover,
footer .social-links a:hover {
  color: var(--fourth-color);
}

footer .social-links a {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 30px;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}

@media (max-width: 992px) {
  h1,
  .content h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 44px;
  }

  .content h2 {
    font-size: 16px;
  }

  nav a {
    font-size: 14px;
    margin-left: 5px;
  }

  .page-hero {
    padding: 80px 20px;
  }

  .content-container {
    padding: 20px 20px;
  }

  .main-picture {
    width: 100px;
  }

  .description-section {
    padding: 0;
    text-align: center;
  }

  .content {
    padding: 0;
    margin: 40px 0;
    text-align: center;
  }

  .card-styling {
    margin: 10px;
  }
}
